@page "/counter"

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<MudButton 
           @onclick="IncrementCount"
           Variant="Variant.Filled" 
           Color="Color.Primary">Click me</MudButton>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }
}
