@page "/"

<style>
    .subItem {
        padding-left: 100px;
    }
</style>


<h3>Account-Transaction-Model [using Worker Service@@ Web-API Core]</h3>
<p></p>
<MudCard>
    <MudCardContent>
        <MudList Clickable="false">
            <MudListItem Text="Blazor-Server-App calls Web-Api Core[Worker-Service] to generate"
                         InitiallyExpanded="true">
                <NestedList>
                    <MudListItem>
                        <span class="subItem">
                            - randomly 10-Users, 10-Payees, 30-Accounts and 100-Transactions
                        </span>
                    </MudListItem>
                </NestedList>
            </MudListItem>
            <MudListItem>
                Blazor-Server-App display[Table/Chart] live update from Users, Payees, Accounts and Transactions
            </MudListItem>
        </MudList>
    </MudCardContent>
    <MudCardActions>
        <MudElement HtmlTag="a"
                    Class="ma-0"
                    Style="color:red;font-weight:bold;"
                    href="https://github.com/Ankithorizon/Transaction-Model-Blazor-WorkerThread"
                    target="blank"
                    rel="noopener noreferrer">
            Source-Code
        </MudElement>
    </MudCardActions>
</MudCard>

@code{
    Color _color = Color.Primary;
}

