<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <span>
            Account-Transaction-Model
        </span>
    </a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="usermgr">
                <span class="oi oi-person" aria-hidden="true"></span> Users
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="payeemgr">
                <span class="oi oi-media-stop" aria-hidden="true"></span> Payees
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="accountmgr">
                <span class="oi oi-account-login" aria-hidden="true"></span> Accounts
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transactionmgr">
                <span class="oi oi-transfer" aria-hidden="true"></span> Transactions
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="transactionsByUser">
                <span class="oi oi-people" aria-hidden="true"></span> Transactions By User
            </NavLink>
        </li>
    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
